<a href="https://colab.research.google.com/github/HarshiniReddy-7/22MH1A4203/blob/main/EXP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("/content/age_salary_dataset (1).csv")
dataset

independent var(X):      Age
0   50.0
1   36.0
2   29.0
3   42.0
4   40.0
..   ...
95  58.0
96  56.0
97  43.0
98  48.0
99  56.0

[100 rows x 1 columns]
dependent var(Y): 0     45056.0
1     72482.0
2     87716.0
3     48110.0
4     53773.0
       ...
95    57675.0
96    92733.0
97    84417.0
98    63938.0
99    63664.0
Name: Salary, Length: 100, dtype: float64

AttributeError: 'Series' object has no attribute 'reshape'

In [14]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]
print('independent var(X):',x)
print('dependent var(Y):',y)

independent var(X):      Age
0   50.0
1   36.0
2   29.0
3   42.0
4   40.0
..   ...
95  58.0
96  56.0
97  43.0
98  48.0
99  56.0

[100 rows x 1 columns]
dependent var(Y): 0     45056.0
1     72482.0
2     87716.0
3     48110.0
4     53773.0
       ...
95    57675.0
96    92733.0
97    84417.0
98    63938.0
99    63664.0
Name: Salary, Length: 100, dtype: float64

In [22]:
from sklearn.impute import SimpleImputer
import numpy as np

# Impute missing values with the mean
imp = SimpleImputer(missing_values=np.nan, strategy="mean")

# Transform x and y
x = imp.fit_transform(x)
y = y.reshape(-1, 1)
y = imp.fit_transform(y)
y = y.reshape(-1)

# Print the transformed data
print(x)
print(y)

[[50.        ]
 [36.        ]
 [29.        ]
 [42.        ]
 [40.        ]
 [44.        ]
 [32.        ]
 [32.        ]
 [45.        ]
 [57.        ]
 [45.        ]
 [24.        ]
 [43.        ]
 [23.        ]
 [45.        ]
 [51.        ]
 [59.        ]
 [23.        ]
 [42.        ]
 [54.        ]
 [33.        ]
 [43.        ]
 [39.88659794]
 [48.        ]
 [49.        ]
 [37.        ]
 [36.        ]
 [24.        ]
 [58.        ]
 [28.        ]
 [42.        ]
 [30.        ]
 [39.        ]
 [25.        ]
 [46.        ]
 [39.88659794]
 [30.        ]
 [47.        ]
 [23.        ]
 [41.        ]
 [49.        ]
 [28.        ]
 [29.        ]
 [39.88659794]
 [35.        ]
 [38.        ]
 [57.        ]
 [25.        ]
 [23.        ]
 [27.        ]
 [25.        ]
 [50.        ]
 [39.        ]
 [47.        ]
 [55.        ]
 [31.        ]
 [57.        ]
 [35.        ]
 [52.        ]
 [36.        ]
 [29.        ]
 [35.        ]
 [44.        ]
 [42.        ]
 [37.        ]
 [39.        ]
 [45.        ]
 [47.        ]
 [46.        ]
 [50.        ]
 [36.        ]
 [22.        ]
 [46.        ]
 [28.        ]
 [30.        ]
 [45.        ]
 [22.        ]
 [29.        ]
 [45.        ]
 [32.        ]
 [38.        ]
 [29.        ]
 [56.        ]
 [56.        ]
 [54.        ]
 [26.        ]
 [49.        ]
 [28.        ]
 [30.        ]
 [29.        ]
 [33.        ]
 [55.        ]
 [54.        ]
 [44.        ]
 [45.        ]
 [58.        ]
 [56.        ]
 [43.        ]
 [48.        ]
 [56.        ]]
[45056.         72482.         87716.         48110.
 53773.         67266.         92992.         57412.
 96537.         73270.         46910.         85453.
 65446.         96090.         93640.         40206.
 72169.72164948 62361.         96873.         63419.
 90636.         97010.         88702.         90015.
 91942.         96560.         72169.72164948 94268.
 85151.         62403.         58141.         54820.
 72169.72164948 46374.         96044.         41678.
 92394.         93788.         73827.         95820.
 56198.         49914.         67890.         92309.
 62299.         83585.         83689.         82557.
 89080.         84020.         42693.         69467.
 69723.         86699.         43627.         65939.
 88925.         82941.         61834.         58047.
 66105.         50230.         55707.         61976.
 84262.         99581.         63776.         70080.
 41306.         46776.         67251.         95016.
 49474.         80294.         98053.         61959.
 45530.         69320.         93565.         43748.
 71968.         72562.         53545.         40663.
 74766.         47994.         68021.         70303.
 90647.         43304.         92915.         94384.
 91005.         86576.         79353.         57675.
 92733.         84417.         63938.         63664.        ]

In [26]:
x_df=pd.DataFrame(x,columns=dataset.columns[:-1])
y_df=pd.DataFrame(y,columns=[dataset.columns[-1]])
combined_data=pd.concat([x_df,y_df],axis=1)
print("combined_data:")
print(combined_data)

combined_data:
     Age   Salary
0   50.0  45056.0
1   36.0  72482.0
2   29.0  87716.0
3   42.0  48110.0
4   40.0  53773.0
..   ...      ...
95  58.0  57675.0
96  56.0  92733.0
97  43.0  84417.0
98  48.0  63938.0
99  56.0  63664.0

[100 rows x 2 columns]

In [27]:
combined_df=pd.DataFrame(combined_data,columns=list(dataset.columns))
combined_df.to_excel("/content/combined_data.xlsx",index=False)
print("combined dataframe:")
print(combined_df.head())

combined dataframe:
    Age   Salary
0  50.0  45056.0
1  36.0  72482.0
2  29.0  87716.0
3  42.0  48110.0
4  40.0  53773.0